@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

.frame {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,#f880d8,#ec38e3,#7303c0,#03001e);
}

.hero {
    height: auto;
    width: fit-content;
    padding: 44px;
    background: transparent;
    box-shadow: 0 25px 50px -12px #000;
    margin: 6px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s linear;
}

.hero h1 {
    font-size: 120px;
    color: white;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: 10px 9px 3px #72b9ff;
    transition: all 0.5s linear;
}

.hero:hover h1 {
    text-shadow: 9px 6px 3px #b2bec3;
}

.hero h2 {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.hero p {
    color: white;
    font-size: 17px;
    font-weight:500;
    text-align: center;
    margin: 16px auto;
}

.hero a {
    margin-top: 2rem;
    color:blue;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    background: white;
    border-radius: 40px;
    box-shadow: 8px 10px 30px -7px #0046d5;
    transition: all 0.5s linear;
}
.hero:hover a {
    color:white;
    background: rgb(103, 103, 255);
}