@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.text
{
    display: flex;
    height: 30px;
    width: auto;
    align-items: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin: 4px;
}
input
{
    height:45px;
    width:500px
}
/* -------------- */
/*  Button design */
/* -------------- */
.button
{
    position: relative;
    text-decoration: none;
    height: 2.8rem;
    width: 8rem;
    margin: 25px 30px;
    padding: auto;
    color: fff;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    cursor: pointer;
}
.button::before
{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left:-6.5%;
    top: -25%;
    transition: all 0.4s;
    animation: view 4s linear infinite;
}
.b1::before
{
    border-top:2px dotted #6366f1;
    border-left:2px dotted #6366f1;
}
.b2::before
{
    border-top:2px dotted #10b981;
    border-left:2px dotted #10b981;
}
.b3::before
{
    border-top:2px dotted #fcd34d;
    border-left:2px dotted #fcd34d;
}
.b4::before
{
    border-top:2px dotted #ef4444;
    border-left:2px dotted #ef4444;
}

.button::after
{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    right:-6.5%;
    bottom: -25%;
    transition: all 0.4s;
    animation: view 4s linear infinite;
}
.b1::after
{
    border-bottom:2px dotted #6366f1;
    border-right:2px dotted #6366f1;
}
.b2::after
{
    border-bottom:2px dotted #10b981;
    border-right:2px dotted #10b981;
}.b3::after
{
    border-bottom:2px dotted #fcd34d;
    border-right:2px dotted #fcd34d;
}.b4::after
{
    border-bottom:2px dotted #ef4444;
    border-right:2px dotted #ef4444;
}
@keyframes view 
{
    0%{
        width: 40px;
        height: 30px;
        opacity: 0.40;
    }
    50%{
        height:160% ;
        width:115% ;
        opacity: 0.80;
    }
    100%{
        width: 40px;
        height: 30px;
        opacity: 0.40;
    }    
}
.button:hover
{
    color: #fff;
    transition: all 0.8s;
}
.b1:hover
{
    background-color: #6366f1;
}
.b2:hover
{
    background-color: #10b981;
}.b3:hover
{
    background-color: #eab308;
}.b4:hover
{
    background-color: #ef4444;
}
.d5,.d6
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.d5 a,.d6 a
{
    position: relative;
    width: 30rem;
    height: 60px;
    padding: 5px 15px;
    display:inline-block;
    background: #fff;
    margin: 20px;
}
.d5 a:before,.d5 a:after
{
    content: '';
    position: absolute;
    background: linear-gradient(145deg,#ff075b,#111827,#1aff22);
    inset: 0;
    transition: 0.6s;
}
.d6 a:before,.d6 a:after
{
    content: '';
    position: absolute;
    background: linear-gradient(145deg,#FFF323,#111827,#d400d4);
    inset: 0;
    transition: 0.6s;
}
.d5 a:hover:before,.d6 a:hover:before
{
    inset: -3px;
}
.d5 a:hover::after, .d6 a:hover::after
{
    inset: -3px;
    filter: blur(10px);
}
.d5 a span, .d6 a span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background: #111827;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    border:1px solid #040a29;
    overflow: hidden;
}
.d5 a span::before,.d6 a span::before
{
    content: '';
    position: absolute;
    top: 0;
    left:-50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.075);
    transform: skew(25deg);
}